<% provide(:title, "Home | Jean F. Dorancy") %>
<% provide(:description, "This is an example mailing") %>
<section>
  <div class="column">
    <%= image_tag "mailing_list.png" %>
  </div>
  <div class="column">
    <div class="form">
      <h3>Stay in touch!</h3>
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, placeholder: "Your email address..." %>
        <%= f.button :submit, "Sign up now!", class: "submit" %>
      <% end %>
    </div>
  </div>
</section>